body{
    margin: 0;
}
.container{
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    overflow: hidden;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.menu{
    width: 35px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
}
nav ul li a:hover{
    text-decoration: none;
    color: #8C52FF;
}

.col1 .main{
    width: 500px;
    margin-left: 90px;
   
}
.col1 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 50px;
}
.soc{
    margin-left: 170px;
}
.col1 ul li{
    list-style: none;
    display: inline;
}
.soc img{
    width: 50px;
    padding-left: 10px;
}
.col2 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
}
.col2 .con h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 8px;
    text-shadow: 2px 2px 4px gainsboro;
}
.col2 .con p{
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 9px;
}
.col2 .tel{
    background: whitesmoke;
    text-align: center;
    width: 80%;
    border: 3px solid #E7C9FF;
    border-radius: 10px;
    box-shadow: 8px 10px #8C52FF;
    margin-bottom: 30px;
    margin-left: 60px;
    padding: 20px;
}
.col2 .cel{
    background: whitesmoke;
    text-align: center;
    width: 80%;
    border: 3px solid #E7C9FF;
    border-radius: 10px;
    box-shadow: 8px 10px #8C52FF;
    margin-bottom: 30px;
    margin-left: 60px;
    padding: 20px;
}
.col2 .em{
    background: whitesmoke;
    text-align: center;
    width: 80%;
    border: 3px solid #E7C9FF;
    border-radius: 10px;
    box-shadow: 8px 10px #8C52FF;
    margin-bottom: 30px;
    margin-left: 60px;
    padding: 20px;
}

@media only screen and (max-width:700px){
    .fullscreen-bg__video{
        width: 500%;
        height: 500%;
    }
    nav ul{
        width: 100%;
        background-color: #8C52FF;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 8px;
        margin-bottom: 5px;
    }
    nav ul li a{
        font-size: 15px;
        color: white;
    }
    nav ul li a:hover{
        color: black;
    }
    .menu{
        margin-top: 10px;
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .logo{
        width: 80px;
    }

.col1 .main{
    width: 300px;
    margin-left: 70px;
   
}
.col1 p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 50px;
}
.soc{
    margin-left: 70px;
}
.col1 ul li{
    list-style: none;
    display: inline;
}
.soc img{
    width: 50px;
    padding-left: 10px;
}
.col2 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-left: 50px
}
.col2 .con h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 8px;
    text-shadow: 2px 2px 4px gainsboro;
}
.col2 .con p{
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 4px;
}

.col2 .con .tel{
    background: whitesmoke;
    text-align: center;
    width: 80%;
    border: 3px solid #E7C9FF;
    border-radius: 10px;
    box-shadow: 8px 10px #8C52FF;
    margin-bottom: 30px;
    padding: 20px;
}
.col2 .con .cel{
    background: whitesmoke;
    text-align: center;
    width: 80%;
    border: 3px solid #E7C9FF;
    border-radius: 10px;
    box-shadow: 8px 10px #8C52FF;
    margin-bottom: 30px;

    padding: 10px;
}
.col2 .con .em{
    background: whitesmoke;
    text-align: center;
    width: 80%;
    border: 3px solid #E7C9FF;
    border-radius: 10px;
    box-shadow: 8px 10px #8C52FF;
    margin-bottom: 30px;
    padding: 20px;
    }
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: -100;
  }
  
  .fullscreen-bg__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      height: 300%;
      top: -100%;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 300%;
      left: -100%;
    }
  }
  
  @media (max-width: 768px) {
    .fullscreen-bg {
      background: url('bgStandbyHome.png') center center / cover no-repeat;
    }
  
    .fullscreen-bg__video {
      display:flex;
    }
  }
