body{
    margin: 0;
}
.container{
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    overflow: hidden;
}

.logo{
    width: 100px;
    cursor: pointer;
}
.menu{
    width: 35px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
}
nav ul li a:hover{
    text-decoration: none;
    color: #8C52FF;
}
.row{
    display: flex;
    align-items: center;
}
.col1{
    margin-left: 50px;
    margin-top: 250px;
    position: relative;
}
.col1 ul li{
    list-style:none;
    display: block;
    padding-bottom: 10px;
}
.col1 img{
    list-style:none;
    height: 40px;
    width: 40px;
}
.col2{
    flex-basis: 40%;
    position: relative;
    margin-left: 70px;
}
.col2 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    line-height: 80px;
}
.col2 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    letter-spacing: 5px;
    line-height: 40px;
}
.col2 p{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    letter-spacing: 8px;
}
.col2 button{
    border-radius: 25px;
    border: #8C52FF 1px solid;
    padding: 10px 8px;
    outline: #8C52FF;
    background: whitesmoke;
    box-shadow: 8px 10px#8C52FF;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 3px;
    margin-left: 50px;
}
.col3 .main{
    width: 100%;
}
button img{
    height: 50px;
    width: 50px;
}

.foot p{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    text-align: right;
    margin-right: 10px;
}
.info .faqs{
    width: 4%;
    margin-left: 1200px;
    cursor: pointer;
}
li {
    list-style: none;
}
.info .slide{
    content: "";
    position:absolute;
    top: 675px;
    right: 50px;
    width: 0;
    text-align: center;
    border-radius: 20px;
    background: whitesmoke;
    transition: all 0.5s 0.3s ease;
}
.slide p {
    text-transform: uppercase;
    color: black;
    text-align: center;
    opacity: 0;
    transition: all 0.6s ease;
  }
  li:hover .slide{
    width: 180px;
    transition: all 0.5s ease;
}
    li:hover .slide p {
    opacity: 1;
    transition: all 1s 0.2s ease;
  }


@media only screen and (max-width:700px){
    .fullscreen-bg__video{
        width: 500%;
        height: 500%;
    }
    nav ul{
        width: 100%;
        background-color: #8C52FF;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 8px;
        margin-bottom: 5px;
    }
    nav ul li a{
        font-size: 15px;
        color: white;
    }
    nav ul li a:hover{
        color: black;
    }
    .menu{
        margin-top: 10px;
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .logo{
        width: 80px;
    }
    .row{
        flex-direction: column-reverse;
        margin: 20px 0;
        align-content: center;
    }
    .col2{
        flex-basis: 100%;
    }
    .col2 h2{
        font-size: 30px;
        line-height: 30px;
    }
    .col2 h3{
        font-size: 12px;
        letter-spacing: 5px;
        line-height: 10px;
    }
    .col2 p{
        font-size: 9px;
        letter-spacing: 5px;
    }
    .col2 button{
        border-radius: 25px;
        border: #8C52FF 1px solid;
        padding: 10px 8px;
        outline: #8C52FF;
        background: whitesmoke;
        box-shadow: 6px 8px#8C52FF;
        cursor: pointer;
        letter-spacing: 3px;
        margin-left: 50px;
    }
    button img{
        height: 20px;
        width: 20px;
    }
    .col3{
        width: 60%;
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .col1{
        margin-left: 10px;
        margin-top: 50px;
        position: relative;
    }
    .col1 ul li{
        list-style:none;
        display: inline-block;
        padding-bottom: 10px;
    }
    .col1 img{
        list-style:none;
        height: 20px;
        width: 20px;
    }
    .foot .faqs{
        display: none;
    }
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: -100;
  }
  
  .fullscreen-bg__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      height: 300%;
      top: -100%;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 300%;
      left: -100%;
    }
  }
  
  @media (max-width: 768px) {
    .fullscreen-bg {
      background: url('bgStandbyHome.png') center center / cover no-repeat;
    }
  
    .fullscreen-bg__video {
      display:flex;
    }
  }
