body{
    margin: 0;
}
.container{
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    overflow: hidden;
}

.logo{
    width: 100px;
    cursor: pointer;
}
.menu{
    width: 35px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
}
nav ul li a:hover{
    text-decoration: none;
    color: #8C52FF;
}
body{
    margin:0;
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: black;
    text-align: end;
}
    hr{
        width:100%;
    }

.start ul{
    list-style: none;
}
.start ul li{
    display: inline-block;
    margin: 5px;
}
.start .card{
    border: 2px solid #8C52FF;
    border-radius: 20px;
    box-shadow: 8px 10px #8C52FF;
}
.start .card img{
    border-top-left-radius:  20px;
    border-top-right-radius:  20px;
    width: 284px;
    height: 283px;
    border: 1px solid #E7C9FF;
}
.start .card-body{
    background-color: whitesmoke;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius:  20px;
}
.start h5{
    font-family: 'Montserrat', sans-serif;
}
.start p{
    font-family: 'Poppins', sans-serif;
}
.start .btn{
    font-family: 'Quicksand', sans-serif;
    color: black;
    background-color: #E7C9FF;
    box-shadow: 4px 5px #8C52FF;
}
.start .btn:hover{
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-color: #8C52FF;
    box-shadow: 4px 5px #E7C9FF;
}
.gallery{
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 6%;
}
.gallery p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    color: black;
    background-color: whitesmoke;
    border-radius: 40px;
    box-shadow: 5px 10px #E7C9FF;
    border: 2px solid #E7C9FF;          
}
                #pubmats{
                    line-height: 0;
                    column-count: 4;
                    column-gap: 10px;
                }

                #pubmats img{
                    border-radius: 30px;
                    width: 100%;
                    height: auto;
                    margin-bottom: 10px;
                }

                #business{
                    line-height: 0;
                    column-count: 4;
                    column-gap: 5px;
                }

                #business img{
                    border-radius: 30px;
                    width: 100%;
                    height: auto;
                    margin-bottom: 10px;
                }

                #comms{
                    line-height: 0;
                    column-count: 4;
                    column-gap: 5px;
                }

                #comms img{
                    border-radius: 30px;
                    width: 100%;
                    height: auto;
                    margin-bottom: 5px;
                }

                #codes{
                    line-height: 0;
                    column-count: 4;
                    column-gap: 5px;
                }

                #codes img{
                    border-radius: 30px;
                    width: 100%;
                    height: auto;
                    margin-bottom: 5px;
                }
@media only screen and (max-width:700px){
    .fullscreen-bg__video{
        width: 500%;
        height: 500%;
    }
    nav ul{
        width: 100%;
        background-color: #8C52FF;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 8px;
        margin-bottom: 5px;
    }
    nav ul li a{
        font-size: 15px;
        color: white;
    }
    nav ul li a:hover{
        color: black;
    }
    .menu{
        margin-top: 10px;
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .logo{
        width: 80px;
    }
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: -100;
  }
  
  .fullscreen-bg__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      height: 300%;
      top: -100%;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 300%;
      left: -100%;
    }
  }
  
  @media (max-width: 768px) {
    .fullscreen-bg {
      background: url('bgStandbyHome.png') center center / cover no-repeat;
    }
  
    .fullscreen-bg__video {
      display:flex;
    }
  }
