body{
    margin: 0;
}
.container{
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  box-sizing: border-box;
  overflow: hidden;
}
.logo{
  width: 100px;
  cursor: pointer;
}
.menu{
  width: 35px;
  cursor: pointer;
  display: none;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
nav ul li a{
  color: black;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
}
nav ul li a:hover{
  text-decoration: none;
  color: #8C52FF;
}
* {box-sizing:border-box}

.title{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: black;
  margin-left: 3%;
}
.title h1 {
  width: 100%; 
  text-align: left; 
  border-bottom: 4px dashed #8C52FF; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

.title h1 span { 
  border-radius: 30px;
  background: #E7C9FF;
  border: 2px solid #8C52FF;
  box-shadow: 5px 10px #8C52FF;
   padding:0 10px; 
}
.progress{
  margin-left: 5%;
  margin-right: 5%;
}
.progress .progress-bar{
  border-radius: 30px;
  color: white;
  text-align:right;
  background: #8C52FF;
}
.h2 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
    border: 2px solid #8C52FF;
    background-color: whitesmoke;
    border-radius: 40px;
    box-shadow: 5px 10px #8C52FF;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    margin-top: 6%;
    margin-bottom: 2%;
}
p{
    font-family: 'Quicksand', sans-serif;
    margin-left: 10%;
    color: black;
    letter-spacing: 5px;
}

.h3 h3{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-align: center;
  letter-spacing: 5px;
  border: 2px solid #8C52FF;
  background-color: whitesmoke;
  border-radius: 40px;
  box-shadow: 5px 10px #8C52FF;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5px;
  margin-top: 3%;
    margin-bottom: 2%;
}

.h4 h4{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-align: center;
  letter-spacing: 5px;
  border: 2px solid #8C52FF;
  background-color: whitesmoke;
  border-radius: 40px;
  box-shadow: 5px 10px #8C52FF;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5px;
  margin-top: 3%;
    margin-bottom: 2%;
}
@media only screen and (max-width:700px){
  .fullscreen-bg__video{
      width: 500%;
      height: 500%;
  }
  nav ul{
      width: 100%;
      background-color: #8C52FF;
      position: absolute;
      top: 75px;
      right: 0;
      z-index: 2;
  }
  nav ul li{
      display: block;
      margin-top: 8px;
      margin-bottom: 5px;
  }
  nav ul li a{
      font-size: 15px;
      color: white;
  }
  nav ul li a:hover{
      color: black;
  }
  .menu{
      margin-top: 10px;
      display: block;
  }
  #menuList{
      overflow: hidden;
      transition: 0.5s;
  }
  .logo{
      width: 80px;
  }
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
  }
  
  .fullscreen-bg__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      height: 300%;
      top: -100%;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 300%;
      left: -100%;
    }
  }
  
  @media (max-width: 767px) {
    .fullscreen-bg {
      background: url('bgStandbyHome.png') center center / cover no-repeat;
    }
  
    .fullscreen-bg__video {
      display: flex;
    }
  }

